.Character {
display: flex;
border: 1px solid black;
background-color: white;
color: black;
    &__information {
        text-align: left;
        display: flex;
    }

    &__image {
        height: 20rem;
        width: 20rem;
    }
}
