@keyframes portal {
  0%   {opacity: 0;
    transform: scale(0)}
 10%   {opacity: 1;
  }
  90% {opacity: 1;
    transform: scale(1.15)}
  100% {transform: scale(1)}
}

@keyframes image {
  0%  {opacity: 0};
  90% {opacity: 0};
  95% {opacity: .7};
  100% {opacity: 1}
}

@keyframes text {
  0%  {opacity: 0};
  90% {opacity: 0};
  95% {opacity: .7};
  100% {opacity: 1}
}

.Character {
    opacity: 0;
    height: 300px;
    width: 300px;
    position: relative;

    // animation-delay: random(3) + s;
    z-index: 4;
}



.Character:hover {
    height: 300px;
    width: 300px;
    position: relative;
    animation-name: portal;
    animation-duration: .5s;
    // animation-delay: random(3) + s;
    opacity: 1;
    
}



.portal{
    // transform: translateZ(-5px) scale(1.5);
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("../assets/portal-rick-and-morty2.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    border-radius: 50%;
}

.characterImage{
    // height:100%;
    // width: 100%;
    // position: absolute;
    -webkit-mask-image: radial-gradient(circle at center,
    rgba(0,0,0,1) 0%, rgba(0,0,0,0) 95%, rgba(0,0,0,0) 100%);
    // opacity: 0.8;
    transform: scale(.7);
    border-radius: 50%;
    animation-name: image;
    animation-duration: 1s;
    // box-shadow: 0 0 8px 8px white inset;
}

.characterName {
    position: absolute;
    text-align: center;
    color: #01B5CC;;
    text-shadow: -1px -1px 10px #B2DF27, 2px 2px 3px black;
    font-weight: 800;
    // width: 250px;
    position: relative;
    top: 75px;
    left: -300px;
    transform: translateZ(-10px) scale(2.25);
    z-index: 5;
    animation-name: text;
    animation-duration: 1s;
}

