.NavBar {
display: flex;
justify-content: center;
position: absolute;
width: 100vw;
height: 20px;
padding: 20px;
top: 0;
z-index: 2;
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 33%, rgba(0,0,0,0) 100%);
color: black
}

.active{
  color:red;
}
