.NavBar {
display: flex;
justify-content: space-between;
position: absolute;
width: 100vw;
height: 50px;
padding: 20px;
top: 0;
z-index: 2;
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 66%, rgba(0,0,0,0) 100%);
color: black
}

.active{
  color:red;
}
